.header-image {
  max-width: 200px;
}

.image-overlay {
  background-color: rgba(0, 0, 0, 0);
  max-width: 200px;
  color: whitesmoke;
  font-size: 2rem;
  font-weight: bold;
  font-family: "playfair";
  transform: translateY(-150%);
  text-align: center;
}
